<form (ngSubmit)="editBook(bookForm)" #bookForm="ngForm">
  <input type="hidden" [(ngModel)]="book.id" *ngIf="book" name="id">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="book.title" *ngIf="book" name="title">
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" [(ngModel)]="book.author" *ngIf="book" name="author">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="description" [(ngModel)]="book.description" *ngIf="book" name="description"></textarea>
  </div>
  <button>Update</button>
</form>

<div *ngIf="message" style="color: red">{{message}}</div>
